.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rectangle {
  width: 25%;
  background-color: lavender;
}

.input_header{
  padding: 5% 0 10% 0;
}

.id_input{
  padding-bottom: 5%;
}

.password_input{
  padding-bottom: 5%;
}

.nickname_input{
  padding-bottom: 5%;
}

.email_input{
  padding-bottom: 10%;
}

.id_label{
  padding-right: 5%;
}
.password_label{
  padding-right: 5%;
}
.nickname_label{
  padding-right: 5%;
}
.email_label{
  padding-right: 5%;
}